<p>
{{tr("Give the intervals which can be represented in positive numbers, absolute value, 1's complement, and 2's complement on {number} bits", number=number)}}.  
</p>


{% if RENDER_MODE == "answer" %}
{% set rows = [
  {
    tr("Label"): tr("Positives"),
    tr("Formula"): "[0; 2<sup>(" ~ number ~ "</sup> - 1)]",
    tr("Evaluated"): "[0; " ~ (2**number - 1) ~ "]"
  },
  {
    tr("Label"): tr("Signed value"),
    tr("Formula"): "[-(2<sup>(" ~ number ~ "-1)</sup> - 1); 2<sup>(" ~ number ~ "-1)</sup> - 1]",
    tr("Evaluated"): "[" ~ (-(2**(number-1) - 1)) ~ "; " ~ (2**(number-1) - 1) ~ "]"
  },
  {
    tr("Label"): tr("One's complement"),
    tr("Formula"): "[-(2<sup>(" ~ number ~ "-1) </sup>- 1); 2<sup>(" ~ number ~ "-1) </sup>- 1]",
    tr("Evaluated"): "[" ~ (-(2**(number-1) - 1)) ~ "; " ~ (2**(number-1) - 1) ~ "]"
  },
  {
    tr("Label"): tr("Two's complement"),
    tr("Formula"): "[-2<sup>(" ~ number ~ "-1)</sup>; 2<sup>(" ~ number ~ "-1) </sup>- 1]",
    tr("Evaluated"): "[" ~ (-(2**(number-1))) ~ "; " ~ (2**(number-1) - 1) ~ "]"
  }
] %}

{# using tabulate #}
{{rows|tabulate(headers="keys", tablefmt="unsafehtml")}}
{% endif %}
