
<p>
Let the function be given by its canonical form, Draw the Karnaugh table and simplify.
<span dir="rtl">
لتكن الدالة المعطاة بشكلها القانوني، ارسم جدول كارنو وبسطها
</span><br/>

{% if "fr" in languages %}
Soit la fonction donnée par sa forme canonique, Tracer la table de karnaugh et simplifier.
<br/>
    {% endif %}
</p>
{% if RENDER_MODE == "question" %}
<ul>
{% for data in data_list %}
    <li> <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>F{{ loop.index }}(A,B,C,D)=</mrow></math>  {{ data.dnf_dict.default|normalize_formula }}</li>
{% endfor %}
</ul>

 {% endif %}
<br/>
 {% if RENDER_MODE == "answer" %}
{% for data in data_list %}
    <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>F{{ loop.index }}(A,B,C,D)=</mrow></math>  {{ data.dnf_dict.default|normalize_formula }}<br/>

{% import "bool/map/kmap_macros.html" as kmap %}
{{ kmap.kmap4svg(data.minterms, data.dontcares, groups=data.simplification, ab=data.ab, cd=data.cd) }}
<br/>

<ul>
    <li> Simplified Sum of products : {{ data.sop_dict.default|normalize_formula }}</li>
    <li> Simplified product of sums : {{ data.pos_dict.default|normalize_formula }}</li>
</ul>

{% endfor %}
 {% endif %}