{% set debug = False %}
{% import "sequential/macros/flipmacros.html" as flpmacro%}
{% import "sequential/macros/timingmacros.html" as tmmacro%}


<!-- ----------------------------------------------------------
 Main_call
----------------------------------------------------------- -->
<h2>{{tr("Register")}}</h2>


{% if RENDER_MODE == "question" %}

    <p>
         {{tr("Let have the following setup")}} 
    </p>


    <!-- Original LaTeX circuitikz replaced by container -->

    {{flpmacro.draw_register_generic(
        flips_list=register_data.flip_type_list,
        outputs=register_data.outputs,
        size=register_data.nbits,
        shift=register_data.shift
    )}}




    <p>
         {{tr("Cite the truth table of flipflop")}}  {{register_data.flip_type_list[0]}}.
    </p>

    <p>
         {{tr("Complete the following timing diagram, according to the given setup.")}} 
    </p>


    {{tmmacro.draw_timing_diagram(data, mode="question")}}

{% endif %} <!-- end question -->


<!-- ----------------------------------------------------------
  Answer
----------------------------------------------------------- -->
{% if RENDER_MODE == "answer" %}

    <p>
         {{tr("Cite the truth table of flipflop")}}  {{register_data.flip_type_list[0]}}.
    </p>


    {{flpmacro.truth_table(
        type=register_data.flip_type_list[0],
        edge="rising"
    )}}

    {{tmmacro.draw_timing_diagram(data, mode="answer")}}

{% endif %}


<!-- Debug Section -->
{% if debug and RENDER_MODE == "answer" %}
    <hr>
    <b>Register</b>


    {{flpmacro.draw_register_generic(flips_list=["D","JK","RST"], outputs=["Q0","Q1","Q2"], size=3)}}


    <b>Register n bits</b>


        {{flpmacro.draw_register(flip="D", register_type="", size=6)}}


    <b>Register n bits JK</b>


        {{flpmacro.draw_register(flip="JK", register_type="", size=6)}}



Test inverse connection
    <!-- Original LaTeX circuitikz replaced by container -->

        {{flpmacro.draw_register_generic(
            flips_list=register_data.flip_type_list,
            outputs=register_data.outputs,
            size=register_data.nbits,
            shift=register_data.shift,
    link_type="inverse",
        )}}


Test clock connection
    <!-- Original LaTeX circuitikz replaced by container -->


        {{flpmacro.draw_register_generic(
            flips_list=register_data.flip_type_list,
            outputs=register_data.outputs,
            size=register_data.nbits,
            shift=register_data.shift,
    link_type="clock",
        )}}


Test inverse clock connection
    <!-- Original LaTeX circuitikz replaced by container -->


        {{flpmacro.draw_register_generic(
            flips_list=register_data.flip_type_list,
            outputs=register_data.outputs,
            size=register_data.nbits,
            shift=register_data.shift,
    link_type="inverse_clock",
        )}}


{% endif %}
