{% import "sequential/macros/timingmacros.html" as tmmacro%}
{# ----------------------------------------------------------
   Main call (example usage in template)
---------------------------------------------------------- #}
<p>Complete the following timing diagram : <span class="aRL">أكمل المخطط الزمني الآتي</span></p>
{% if RENDER_MODE.lower() == "question" %}
{{ tmmacro.draw_timing_diagram(data, mode="question") }}
{%endif%}
{% if RENDER_MODE.lower() == "answer" %}
{{ tmmacro.draw_timing_diagram(data, mode="answer") }}
{%endif%}
{# ----------------------------------------------------------
   DEBUG
---------------------------------------------------------- #}
{% if RENDER_MODE.lower() == "answer" %}
{%- if debug %}
  <pre class="debug">
Clock:
{{ data.clock|pprint }}
Input signals (raw):
{{ data.input_signals|pprint }}
Output signals (raw):
{{ data.output_signals|pprint }}
Full data:
{{ data|pprint }}
  </pre>

{% for edge in ("rising", "falling", "high", "low", "dual") %}
    <h2>Test of list of signals on {{edge}}</h2>
<svg xmlns="http://www.w3.org/2000/svg" width="800" height="500">
  {% set s1 = [-1, 2, -2, 3, -1, 2] %}
  {% set s2 = [2, -1, 1, -2, 3] %}
  {% set s3 = [-2, 1, -1, 2, -2, 1] %}
  {% set signals = {"s1":s1, "s2":s2, "s3":s3} %}
<g transform="translate(0,00)">
{{ tmmacro.multi_signals(signals, unit_w=60, unit_h=50, v_gap=30,
                    stroke="blue", stroke_w=2,
                    guide_stroke="lightgray", synch_type=edge) }}
  </g>
{% endfor %}
</svg>



<h2>Test of signla from list</h2>
    {% set s = [-1, 2, -2, 3, -1, 2] %}

<svg xmlns="http://www.w3.org/2000/svg" width="800" height="800">
  <g transform="translate(120,20)">
    {{ tmmacro.signal_from_list(s, 60, 80, "blue", 3, var_name="Diga") }}
  </g>


</svg>

      <h2>Test of clock  dual</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="800" height="200">
  <g transform="translate(20,60)">
    {{ tmmacro.clock_signal(1, 5, 80, 60, "green", 3) }}
  </g>
</svg>

      <h2>Test of clock Falling</h2>

<svg xmlns="http://www.w3.org/2000/svg" width="800" height="200">
  <g transform="translate(20,60)">
    {{ tmmacro.clock_signal(1, 5, 80, 60, "green", 3,edge="falling") }}
  </g>
</svg>
      <h2>Test of clock rising</h2>

<svg xmlns="http://www.w3.org/2000/svg" width="800" height="200">
  <g transform="translate(20,60)">
    {{ tmmacro.clock_signal(1, 5, 80, 60, "green", 3,edge="rising") }}
  </g>
      <h2>Test of clock high level</h2>

<svg xmlns="http://www.w3.org/2000/svg" width="800" height="200">
  <g transform="translate(20,60)">
    {{ tmmacro.clock_signal(1, 5, 80, 60, "green", 3,edge="high") }}
  </g>

</svg>

{%- endif %}
{%- endif %} <!--end answer part -->
