{%set debug = False %}
{% import "bool/map/kmap_macros.html" as kmap %}
<style>
  table .truthtable {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th {
      border: 1px solid black;
  }
  td {
    border-left: 1px solid black;   /* vertical border */
    border-right: 1px solid black;  /* vertical border */
  }

  /* Every 4th row: add bottom border */
  tbody tr:nth-child(4n) td {
    border-bottom: 2px solid black;
  }
</style>
<p>
{{tr("Study the following circuit:")}}


<ul>
{% for data in data_list %}
    <li> <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=   {{ data.minterms }}</mrow></math></li>
{% endfor %}
</ul>

<strong> {{tr("Don't Care")}} </strong>
<ul>
 {% for data in data_list %}
    <li> <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=   {{ data.dontcares }}</mrow></math></li>
 {% endfor %}
</ul>


F(A,B,C,D) ={{  sop_quest|normalize_formula }}

{% if RENDER_MODE == "answer" %}

<b> {{tr("Inputs and Outputs")}} </b>

<ul>
  <li>
    Inputs
    <ul>
      {% for var in variables %}
        <li>{{ var }} = 0 / 1</li>
      {% endfor %}
    </ul>
  </li>
  <li>
    Outputs
    <ul>
      {% for funct_name in function_name_list %}
        <li>{{ funct_name }} = 0 / 1</li>
      {% endfor %}
    </ul>
  </li>
</ul>


<p><strong> {{tr("Truth Table")}}</strong></p>

<table cellspacing="0" cellpadding="5"
       style="text-align:center; border-collapse:collapse;" class="truthtable">
          <thead>
            <tr>
              <th> Num </th><th> {{ variables[0] }} </th><th> {{ variables[1] }} </th><th>  {{ variables[2] }} </th><th>  {{ variables[3] }} </th>
                {% for funct_name in function_name_list %}
                <th>  {{ funct_name }}  </th>
                {% endfor %}

            </tr>
          </thead>
          <tbody>

{% for i in range(16) %}
  {% set bits = '{:04b}'.format(i) %}
  {% set bit_list = bits | list %}
    <tr>
      <td> {{ loop.index0 }} </td>
      <td> {{ bit_list[0] }} </td>
        <td> {{ bit_list[1] }} </td>
        <td> {{ bit_list[2] }} </td>
        <td> {{ bit_list[3] }} </td>
        {% for idx in range(data_list | length) %}
            {% set minterms = minterms_list[idx] %}
            {% set dontcares = dontcares_list[idx] %}
        <td> {{ '1' if i in minterms else 'x' if i in dontcares else 0 }} </td>
        {% endfor %}

    </tr>
{% endfor %}
  </tbody>
</table>

<b> {{tr("Canonical Forms")}}  </b>

<ul>
  <li>
    <b> {{tr("First Canonical Forms")}}  </b>
    <ul>
      {% for data in data_list %}
        <li><math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>   {{ data.dnf_dict.default|normalize_formula }}</li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <b> {{tr("Second Canonical Forms")}}  </b>
    <ul>
      {% for data in data_list %}
        <li><math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>  {{ data.cnf_dict.default|normalize_formula }}</li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <b> {{tr("First Canonical Forms")}}  </b>
    <ul>
      {% for data in data_list %}
        <li><math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}= ∑({{ data.minterms | join(", ") }})</mrow></math> </li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <b> {{tr("Second Canonical Forms")}}  </b>
    <ul>
      {% for data in data_list %}
        <li><math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}= ∏({{ data.maxterms | join(", ") }})</mrow></math></li>
      {% endfor %}
    </ul>
  </li>
</ul>



{% if debug or method.lower() == "nand" %}
  <p>
    <strong> {{tr("NAND forms")}} </strong>

  </p>
  <ol>
    {% for data in data_list %}
      <li>
         <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>     {{ data.nand_sop_dict.default|normalize_formula }}

        <p> {{tr("Explanation")}} </p>
        <ul>
          <li> <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>     {{ data.sop_dict.default|normalize_formula }} </li>

          {% for explain in data.nand_sop_dict.explained %}
            <li><math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>  {{ explain|normalize_formula }} </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
{% endif %}

{% if debug or method.lower() == "nor" %}
  <p>
    <strong> {{tr("NOR forms")}}</strong>
  </p>
  <ol>
    {% for data in data_list %}
      <li>
        <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>    {{ data.nor_pos_dict.default|normalize_formula }}

        <p> {{tr("Explanation")}} </p>
        <ul>
          <li> <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>  {{ data.pos_dict.default|normalize_formula }} </li>

          {% for explain in data.nor_pos_dict.explained %}
            <li> <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>   {{ explain|normalize_formula}} </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
{% endif %}



<p><strong> {{tr("Karnaugh map")}}  </strong></p>

{% for data in data_list %}
{#
{{ kmap.kmap4(data.minterms, data.maxterms, data.dontcares, data.ab, data.cd) }}
<br/>
#}

{{ kmap.kmap4svg(minterms=data.minterms, dontcares=data.dontcares, groups=data.simplification, ab=data.ab, cd=data.cd) }}
<ul>
    <li> {{tr("Simplified Sum of products")}}  : <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math>  {{ data.sop_dict.default|normalize_formula }}</li>
    <li> {{tr("Simplified product of sums")}}  : <math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ data.function_name }}=</mrow></math> {{ data.pos_dict.default|normalize_formula }}</li>
    </ul>
{% endfor %}

<p><strong> {{tr("Logic diagram")}}  </strong></p>

{% include "bool/logigram/structured_logigram.html.j2" %}

<hr/>
  {%if debug %}
      <pre>
  {{logicdiagramdict|pprint }}
      </pre>
  {% endif %}
{% endif %}
