
<p>
Simplify the following Karnaugh table
<span dir="rtl">
بسّط الدوال الآتية باستعمال جدول كارنوف.
</span><br/>
{% if "fr" in languages %}
Simplifier le tableau de Karnaugh suivant:
    <br/>
{% endif %}
</p>

{% if RENDER_MODE == "question" %}
 {% endif %}
{% for data in data_list %}

{% import "bool/map/kmap_macros.html" as kmap %}

{{ kmap.kmap4svg(data.minterms, data.dontcares, groups=data.simplification, ab=data.ab, cd=data.cd) }}
<br/>

{% if RENDER_MODE == "answer" %}
<ul>
    <li> Simplified Sum of products : {{ data.sop_dict.default|normalize_formula }}</li>
    <li> Simplified product of sums : {{ data.pos_dict.default|normalize_formula }}</li>
</ul>
{% endif %}
{% endfor %}
