
<p>
{{tr("Simplify the following Karnaugh table")}}
</p>

{% if RENDER_MODE == "question" %}
 {% endif %}
{% for data in data_list %}

{% import "bool/map/kmap_macros.html" as kmap %}
{% if RENDER_MODE == "question" %}
{{ kmap.kmap4svg(data.minterms, data.dontcares, groups=[], ab=data.ab, cd=data.cd) }}
 {% endif %}
{% if RENDER_MODE == "answer" %}
{{ kmap.kmap4svg(data.minterms, data.dontcares, groups=data.simplification, ab=data.ab, cd=data.cd) }}
 {% endif %}
<br/>

{% if RENDER_MODE == "answer" %}
<ul>
    <li>  {{tr("Simplified Sum of products")}}  : {{ data.sop_dict.default|normalize_formula }}</li>
    <li>  {{tr("Simplified product of sums")}}  : {{ data.pos_dict.default|normalize_formula }}</li>
</ul>
{% endif %}
{% endfor %}
