<p>
Study the following function:
<span dir="rtl">
ادرس الدالة الآتية:
</span><br/>

{% if "fr" in languages %}
Etudier la fonction suivante:
{% endif %}<br/>

F(A,B,C,D) ={{  sop_quest }}

{% if RENDER_MODE == "question" %}

 {% endif %}

{% if RENDER_MODE == "answer" %}

{{ function_name }} = {{ minterms }}


<p><strong>Don't Care </strong></p>
{{ function_name }} = {{ dontcares }}


<p><strong>Truth Table <span dir="rtl">جدول الحقيقة</span></strong></p>

<table cellspacing="0" cellpadding="5"
       style="text-align:center; border-collapse:collapse;" class="truthtable">
          <thead>
            <tr>
              <th> Num </th><th> {{ variables[0] }} </th><th> {{ variables[1] }} </th><th>  {{ variables[2] }} </th><th>  {{ variables[3] }} </th><th>  F  </th>
            </tr>
          </thead>
<tbody>
{% for i in range(16) %}
  {% set bits = '{:04b}'.format(i) %}
  {% set bit_list = bits | list %}
    <tr>
      <td> {{ loop.index0 }} </td>
      <td> {{ bit_list[0] }} </td>
        <td> {{ bit_list[1] }} </td>
        <td> {{ bit_list[2] }} </td>
        <td> {{ bit_list[3] }} </td>
        <td> {{ '1' if i in minterms else 'x' if i in dontcares else 0 }} </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<p><strong>Canonical Forms <span dir="rtl">الأشكال القانونية</span></strong></p>
<ul>
    <li>{{ function_name }}(A, B, C, D) = {{ dnf }}</li>
    <li>{{ function_name }}(A, B, C, D) = {{ cnf }}</li>
    <li>{{ function_name }}(A, B, C, D) = Σ({{ minterms | join(", ") }})</li>
    <li>{{ function_name }}(A, B, C, D) = Π({{ maxterms | join(", ") }})</li>
</ul>





 {% if method == "nand" %}
 \textbf{ NAND forms  \aRL{بوابات نفي الوصل}}
{{ nand_sop }}

{{ nand_dnf }}

 {% endif %}

{% if method == "nor" %}
 \textbf{ NOR forms  \aRL{بوابات نفي الفصل}}
{{ nor_pos }}

{{ nor_cnf }}

 {% endif %}


<p><strong>Karnaugh map <span dir="rtl">جدول كارنوف</span></strong></p>

{% import "map/kmap_macros.html" as kmap %}
{{ kmap.kmap4svg(minterms,  dontcares, groups=formatted_simplification, ab=ab, cd=cd) }}

<br/>
<ul>
    <li>Simplified Sum of products : {{ sop }}</li>
    <li>Simplified product of sums : {{ pos }}</li>
    </ul>

\textbf{Logic diagram \aRL{المخطط المنطقي}}
<p><strong>Logic diagram <span dir="rtl">المخطط المنطقي</span></strong></p>
    <pre>
{{logicdiagramdict|pprint }}
    </pre>
{% include "logigram/structured_logigram.html.j2" %}

{% endif %}
