{% if "fr" in languages %}
Donner les intervalles qu'on peut représenter en nombre positifs, valeur absolue, complément à 1 et complément à 2  sur {{number}} bits
{% endif %}

Give the intervals which can be represented in posiitve numbers, absolute value, 1's complement and 2's complement on {{number}} bits


حدد المجالات التي يمكن تمثيلها لأعداد الموجبة والتمثيل بالقيمة المطلقة والمتمم إلى 1 و 2 على   : {{number}} بت


{% if RENDER_MODE == "answer" %}
<ul>
<li> <b>Positifs</b>: $[0; 2^{ {{ number }}-1 }] = [0; {{ 2**number-1}}]$</li>
<li> <b>Unsigned value</b>: $[-(2^{ {{ number-1 }} }-1 );2^{ {{ number-1 }} }-1] = [-{{ 2**(number-1)-1 }}, {{ 2**(number-1)-1 }}]$</li>

<li> <b>One's compelement</b>: $[-(2^{ {{ number-1 }} }-1 );2^{ {{ number-1 }} }-1] = [-{{ 2**(number-1)-1 }}, {{ 2**(number-1)-1 }}]$</li>
<li> <b>Two's compelement</b>: $[-2^{ {{ number-1 }} } ;2^{ {{ number-1 }} }-1] = [-{{ 2**(number-1) }}, {{ 2**(number-1)-1 }}]$</li>
</ul>
{% endif %}