{{tr("Simpilfy the following expression")}}

<math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ function_name }}=</mrow></math> {{  sop_quest|normalize_formula }}
</p>

{% if RENDER_MODE == "question" %}
{% endif %}

{% if RENDER_MODE == "answer" %}

{% import "bool/map/kmap_macros.html" as kmap %}


{{ kmap.kmap4svg(minterms, dontcares, groups=simplification, ab=ab, cd=cd) }}
<br/>
<ul>
    <li> {{tr("Simplified Sum of products")}}  : {{ sop_dict.default|normalize_formula }}</li>
    <li> {{tr("Simplified product of sums")}}  : {{ pos_dict.default|normalize_formula }}</li>
    </ul>



{% endif %}
