<p>
    Simpilfy the following expression
<span dir="rtl">
 بسّط العبارة الآتية:
</span><br/>

{% if "fr" in languages %}
Simplifier l'expression suivant:<br/>
{% endif %}
<math xmlns="http://www.w3.org/1998/Math/MathML"><mrow>{{ function_name }}=</mrow></math> {{  sop_quest|normalize_formula }}
</p>

{% if RENDER_MODE == "question" %}
{% endif %}

{% if RENDER_MODE == "answer" %}

{% import "bool/map/kmap_macros.html" as kmap %}


{{ kmap.kmap4svg(minterms, dontcares, groups=simplification, ab=ab, cd=cd) }}
<br/>
<ul>
    <li>Simplified Sum of products : {{ sop_dict.formatted }}</li>
    <li>Simplified product of sums : {{ pos_dict.formatted }}</li>
    </ul>



{% endif %}
