{% macro encode_decode(charlist=None, codes=None, mode="encode", scheme="ascii") %}
  {% if mode == "encode" %}
    <h4>Encode the following text into {{ scheme|capitalize }}</h4>
    <p><b>Text:</b> "{{ charlist|escape_string|join }}"</p>

    <table border="1" cellpadding="5" cellspacing="0">
      <tr>
        <th>Character</th>
        {% for ch in charlist %}
          <td>
            {% if ch == " " %}
              space
            {% elif ch == "\n" %}
              newline
            {% elif ch == "\t" %}
              tab
            {% else %}
              {{ ch|escape_string}}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
      <tr>
        <th>{{ scheme|capitalize }} Code Point</th>
        {% for cp in codes %}
          <td>{{ cp }}</td>
        {% endfor %}
      </tr>
    </table>

  {% elif mode == "decode" %}
    <h4>Decode the following {{ scheme|capitalize }} codes into text</h4>
    <p><b>Codes:</b> {{ codes }}</p>

    <table border="1" cellpadding="5" cellspacing="0">
      <tr>
        <th>{{ scheme|capitalize }} Code Point</th>
        {% for code in codes %}
          <td>{{ code }}</td>
        {% endfor %}
      </tr>
      <tr>
        <th>Character</th>
        {% for ch in charlist %}
          <td>
            {% if ch == " " %}
              space
            {% elif ch == "\n" %}
              newline
            {% elif ch == "\t" %}
              tab
            {% else %}
              {{ ch }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </table>
  {% endif %}
{% endmacro %}


{% if RENDER_MODE == "question" %}
  {% if method in ("encode", "both") %}
    <h4>Encode the following text into {{ scheme|capitalize }}</h4>
    <p><b>Text:</b> "{{ charlist|join }}"</p>
  {% endif %}
  {% if method in ("decode", "both") %}
    <h4>Decode the following {{ scheme|capitalize }} codes into text</h4>
    <p><b>Codes:</b> {{ charcodes }}</p>
  {% endif %}
{% elif RENDER_MODE == "answer" %}
  {% if method == "both"%}
    {{ encode_decode(charlist=charlist, codes=charcodes, mode="encode", scheme=scheme)}}

    {{ encode_decode(charlist=charlist, codes=charcodes, mode="decode", scheme=scheme)}}
  {% else %}
  {{ encode_decode(charlist=charlist, codes=charcodes, mode=method, scheme=scheme)}}
  {% endif %}
{% endif %}
