    <!-- Question -->
    <div class="question">
        <strong>Question:</strong> {{ question }}
    </div>
{% if RENDER_MODE.lower() =="answer" %}
    <!-- Given parameters -->
    <div class="given">
        <strong>{{tr("Given:")}}</strong>
        {% for key, val in given.items() %}
            {% if key != ask %}
                <span>{{ key|capitalize }} = {{ "%.2f"|format(val.value) }} {{ val.unit }}</span>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Step-by-step solution -->
    <table>
        <thead>
            <tr>
                <th>{{ tr("Step")}}</th>
                <th>{{ tr("Operation")}}</th>
                <th>{{ tr("Expression")}}</th>
            </tr>
        </thead>
        <tbody>
            {% for step in solution %}
            <tr>
                <td>{{ step.step }}</td>
                <td>{{ step.operation }}</td>
                <td>{{ step.expression }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Final Answer -->
    <div class="answer">
        {{ tr("Final Answer")}}: {{ answer }}
    </div>
{%endif%}

