{% import "map/kmap_macros.html" as kmap %}
<style>
  table .truthtable {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th {
      border: 1px solid black;
  }
  td {
    border-left: 1px solid black;   /* vertical border */
    border-right: 1px solid black;  /* vertical border */
  }

  /* Every 4th row: add bottom border */
  tbody tr:nth-child(4n) td {
    border-bottom: 2px solid black;
  }
</style>
<p>
Study the following circuit:
<span dir="rtl">
ادرس الدارة الآتية:
</span><br/>

{% if "fr" in languages %}
Etudier le circuit suivant:<br/>
{% endif %}

<ul>
{% for data in data_list %}
    <li> {{ data.function_name }} = {{ data.minterms }}</li>
{% endfor %}
</ul>

<strong>Don't Care</strong>
<ul>
 {% for data in data_list %}
    <li> {{ data.function_name }} = {{ data.dontcares }}</li>
 {% endfor %}
</ul>


F(A,B,C,D) ={{  sop_quest }}

{% if RENDER_MODE == "answer" %}

<b>Inputs and Outputs <span dir="rtl">المداخل والمخارج</span></b>

<ul>
  <li>
    Inputs
    <ul>
      {% for var in variables %}
        <li>{{ var }} = 0 / 1</li>
      {% endfor %}
    </ul>
  </li>
  <li>
    Outputs
    <ul>
      {% for funct_name in function_name_list %}
        <li>{{ funct_name }} = 0 / 1</li>
      {% endfor %}
    </ul>
  </li>
</ul>


<p><strong>Truth Table <span dir="rtl">جدول الحقيقة</span></strong></p>

<table cellspacing="0" cellpadding="5"
       style="text-align:center; border-collapse:collapse;" class="truthtable">
          <thead>
            <tr>
              <th> Num </th><th> {{ variables[0] }} </th><th> {{ variables[1] }} </th><th>  {{ variables[2] }} </th><th>  {{ variables[3] }} </th>
                {% for funct_name in function_name_list %}
                <th>  {{ funct_name }}  </th>
                {% endfor %}

            </tr>
          </thead>
          <tbody>

{% for i in range(16) %}
  {% set bits = '{:04b}'.format(i) %}
  {% set bit_list = bits | list %}
    <tr>
      <td> {{ loop.index0 }} </td>
      <td> {{ bit_list[0] }} </td>
        <td> {{ bit_list[1] }} </td>
        <td> {{ bit_list[2] }} </td>
        <td> {{ bit_list[3] }} </td>
        {% for idx in range(data_list | length) %}
            {% set minterms = minterms_list[idx] %}
            {% set dontcares = dontcares_list[idx] %}
        <td> {{ '1' if i in minterms else 'x' if i in dontcares else 0 }} </td>
        {% endfor %}

    </tr>
{% endfor %}
  </tbody>
</table>

<b>Canonical Forms <span dir="rtl">الأشكال القانونية</span></b>

<ul>
  <li>
    <b>First Canonical Forms <span dir="rtl">الأشكال القانونية الأولى</span></b>
    <ul>
      {% for data in data_list %}
        <li>{{ data.function_name }}(A,B,C,D) = {{ data.dnf }}</li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <b>Second Canonical Forms <span dir="rtl">الأشكال القانونية الثانية</span></b>
    <ul>
      {% for data in data_list %}
        <li>{{ data.function_name }}(A,B,C,D) = {{ data.cnf }}</li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <b>First Canonical Forms <span dir="rtl">الأشكال القانونية الأولى</span></b>
    <ul>
      {% for data in data_list %}
        <li>{{ data.function_name }}(A,B,C,D) = ∑({{ data.minterms | join(", ") }})</li>
      {% endfor %}
    </ul>
  </li>

  <li>
    <b>Second Canonical Forms <span dir="rtl">الأشكال القانونية الثانية</span></b>
    <ul>
      {% for data in data_list %}
        <li>{{ data.function_name }}(A,B,C,D) = ∏({{ data.maxterms | join(", ") }})</li>
      {% endfor %}
    </ul>
  </li>
</ul>




 {% if method == "nand" %}
 \textbf{ NAND forms  \aRL{بوابات نفي الوصل}}
 {% for data in data_list %}
{{ data.function_name }} = {{ data.nand_sop }}

{{ data.function_name }} = {{ data.nand_dnf }}
{% endfor %}
 {% endif %}

{% if method == "nor" %}
 \textbf{ NOR forms  \aRL{بوابات نفي الفصل}}
  {% for data in data_list %}
{{ data.function_name }} = {{ data.nor_pos }}

{{ data.function_name }} =  {{ data.nor_cnf }}
{% endfor %}
 {% endif %}


<p><strong>Karnaugh map <span dir="rtl">جدول كارنوف</span></strong></p>


{% for data in data_list %}

{{ kmap.kmap4(data.minterms, data.maxterms, data.dontcares, data.ab, data.cd) }}

<br/>

<pre> SIMPlification
    {{ data.simplification }}
    </pre>

    <pre> Formatted SIMPlification
    {{ data.formatted_simplification }}
    </pre>

{{ kmap.kmap4svg(minterms=data.minterms, dontcares=data.dontcares, groups=data.formatted_simplification) }}
<ul>
    <li>Simplified Sum of products : {{ data.function_name }} = {{ data.sop }}</li>
    <li>Simplified product of sums : {{ data.function_name }} = {{ data.pos }}</li>
    </ul>
{% endfor %}

<p><strong>Logic diagram <span dir="rtl">المخطط المنطقي</span></strong></p>

{% include "logigram/structured_logigram.html.j2" %}


{% endif %}
