{% set debug = False %}
{% import "sequential/macros/flipmacros.html" as flpmacro%}
{% import "sequential/macros/timingmacros.html" as tmmacro%}



{#----------------------------------------------------------
 Main_call
----------------------------------------------------------#}
<h2> {{tr("Counter")}}</h2>
<svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
{{ flpmacro.define_standard_flips() }}
</svg>
{% if RENDER_MODE == "question" %}

  <p>
     {{tr("Let have the following setup")}} 

  </p>

  <p>drawn by draw counter</p>
  <svg xmlns="http://www.w3.org/2000/svg" width="600" height="200">
    {{ flpmacro.draw_counter(flip="JKA", counter_type="", size=counter_data.nbits) }}
  </svg>



  <p>
     {{tr("Cite the truth table of flipflop")}}  {{ counter_data.flip_type_list[0] }}.<br/>

  </p>

  <p>
    {{tr("Complete the following timing diagram, according to the given setup.")}}<br/>

  </p>

  {{ tmmacro.draw_timing_diagram(data, mode="question") }}

{% endif %}

{#----------------------------------------------------------
 Answer
----------------------------------------------------------#}
{% if RENDER_MODE == "answer" %}

  <p>
     {{tr("Cite the truth table of flipflop")}}  {{ counter_data.flip_type_list[0] }}.<br/>

  </p>

  {{ flpmacro.truth_table(type=counter_data.flip_type_list[0], edge="rising") }}

  {{ tmmacro.draw_timing_diagram(data, mode="answer") }}

{% endif %}

{#----------------------------------------------------------
 Debug
----------------------------------------------------------#}
{% if debug and RENDER_MODE == "answer" %}
  <b>Counter n bits Jk</b>
  <svg xmlns="http://www.w3.org/2000/svg" width="600" height="200">
    {{ flpmacro.draw_counter(flip="JKA", counter_type="", size=4) }}
  </svg>

  <b>Flipflop syn/asyn Jk</b>
  <svg xmlns="http://www.w3.org/2000/svg" width="400" height="200">
    {{ flpmacro.place_flip(id="JKA", name="jk4", xpos=5, ypos=4) }}
  </svg>
{% endif %}
