<p>
    Simpilfy the following expression
<span dir="rtl">
 بسّط العبارة الآتية:
</span><br/>

{% if "fr" in languages %}
Simplifier l'expression suivant:<br/>
{% endif %}
{{ function_name }} ={{  sop_quest }}
</p>

{% if RENDER_MODE == "question" %}
{% endif %}

{% if RENDER_MODE == "answer" %}

{% import "map/kmap_macros.html" as kmap %}


{{ kmap.kmap4svg(minterms, dontcares, groups=formatted_simplification, ab=ab, cd=cd) }}
<br/>
<ul>
    <li>Simplified Sum of products : {{ sop_dict.formatted }}</li>
    <li>Simplified product of sums : {{ pos_dict.formatted }}</li>
    </ul>



{% endif %}
